<head>
  <style>
      .row{
        color: black;
        margin-top: -30px;
      }

    
  </style>
</head>
<body>
  

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>
            {{title}}
        </h1>
        <p class="lead text-muted" style="text-align: left;">Explora les series i pel·lícules afegides per altres usuaris. Descubreix noves i potencials adiccions! A l'enquesta pots botar 3 de les teves obres favorites.</p>
        <p class="lead text-muted" style="text-align: right;">Ets Admin? Comparteix amb la resta d'usuaris els teus gustos cinematogràfics! Pots afegir la informació d'una nova serie o película, i valorar quant t'ha agradat. Ajuda a altres persones a trobar or!</p>
        <p>
          <a href={{#if user.userID}}"/enquesta"{{else}}"/login"{{/if}} class="btn btn-primary my-2">ANAR A LA ENQUESTA</a>
          <a href={{#if user.userID}}"/insertar"{{else}}"/login"{{/if}} class="btn btn-secondary my-2" style="color: white; margin-left:10px">NOVA PEL·LÍCULA/SERIE</a>
        </p>
      </div>
    </section>
    {{#if elements}}
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {{#each elements}}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src={{Img}} alt="">
              <div class="card-body">
                <h3>{{NomEl}}</h3>
                <p style="color: red;">{{Genere}}</p>
                <p class="card-text">{{Sinopsi}}</p>
                <p class="col-12" style="color: gray;">Valoració per: <b> <span style="color: red;">{{NomUser}}</span></b>
                <span class="col-6" style="text-align:right; font-size: 40px;">{{Nota}}</span></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>

  </main>
</body>

